<head>
	<title>{{writeSettingValue=title;section=frontend}} — {{title}}</title>
	{{writeResourceIncludes=meta}}
	<base href="{{writeLink=base_href}}" />
	<meta name="environment" content="{{writeConstantValue=RAPILA_ENVIRONMENT}}" />
	{{writeDirectInclude=favicon.png;type=icons}}
	{{addResourceInclude=http://fonts.googleapis.com/css?family=Limelight&v2;type=css;name=css}}
	{{addResourceInclude=site.css;name=css}}{{addResourceInclude=fancybox/jquery.fancybox.css;name=css}}{{writeResourceIncludes=css}}
	{{addResourceInclude=jquery;library=1.7.1}}{{addResourceInclude=fancybox;library=2.1.1}}
	{{addResourceInclude=site.js}}{{writeResourceIncludes}}
</head>

<body class="body-{{navigation=top_css}}">
	<header>
		<nav id="breadcrumb">
			{{navigation=breadcrumb}}
		</nav>
		<h1>{{writeString=site.welcome}}</h1>
		<nav id="language_chooser">
			{{language_chooser}}
		</nav>
		<nav id="main_navigation">
			{{navigation=main}}
		</nav>
	</header>
	<div id="content">
		<section id="auxiliary">
			<nav id="sub">
				{{navigation=sub}}
			</nav>
			{{container=auxiliary}}
		</section>
		<h2>{{title}}</h2>
		{{container=content}}
	</div>
	<footer>
		<a href="{{writeLink=;manager=AdminManager;position=last}}">{{writeString=login}}</a>
	</footer>
</body>
</html>
